.header {
  position: absolute;
  background-color: #000;
  transition: box-shadow ease 0.3s;
  background: ease 0.5s;
  z-index: 999;
}
.header .navbar .container {
  max-width: 90vw;
}
.header .navbar .container .navbar-brand img {
  width: 150px;
  height: 60px;
}
.header .navbar .container .navbar-toggler {
  border: white !important;
  background-color: yellowgreen !important;
  padding: 8px !important;
}
.header .navbar .container .navbar-collapse .menue a {
  text-decoration: none;
  color: aliceblue;
  line-height: 1.8;
  font-size: 20px;
  margin: 5px;
  padding: 0;
  transition: all 0.5;
}
.header .navbar .container .navbar-collapse .menue a:hover {
  color: rgb(172, 205, 124);
}
.header .navbar .container .navbar-collapse .menue .search {
  margin-left: 60px;
  border-radius: 10px;
  overflow: hidden;
}
.header .navbar .container .navbar-collapse .menue .search .input {
  border-radius: 10px 0 0 10px;
  padding: 0 10px;
}
.header .navbar .container .navbar-collapse .menue .search .btn_search {
  font-size: 15px;
  padding: 3px 6px;
  border-radius: 0 10px 10px 0;
}
.header .signedin {
  margin: -10px 10px 0 0;
}
.header .signedin a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  font-weight: 800;
}
.header .auth .logo_sign {
  padding: 3px;
  border: 1px solid chocolate;
  font-size: 30px;
  border-radius: 50%;
}
.header .auth a {
  color: wheat;
  text-decoration: none;
  font-size: 15px;
  margin-left: 3px;
  opacity: 0.8;
  transition: all 0.5;
}
.header .auth a:hover {
  opacity: 1;
  color: greenyellow;
}

.on-scroll-header {
  padding: 0px !important;
  transition: box-shadow ease 0.3s;
  background: ease 0.5s;
  background-color: rgba(0, 0, 0, 0.8) !important;
}

@media screen and (max-width: 1271px) {
  .header .navbar .container .navbar-brand img {
    width: 130px;
  }
  .header .navbar .container .navbar-collapse .menue a {
    line-height: 2.1;
    font-size: 18px;
  }
  .header .navbar .container .navbar-collapse .menue .search {
    margin-right: -70px;
  }
  .header .navbar .container .navbar-collapse .menue .search .input {
    font-size: 20px;
    padding: 12px 5px;
  }
  .header .navbar .container .navbar-collapse .menue .search .btn_search {
    font-size: 14px;
  }
}
@media screen and (max-width: 1200px) {
  .header .navbar .container .navbar-brand img {
    width: 130px;
  }
  .header .navbar .container .navbar-collapse .menue a {
    line-height: 2.2;
    font-size: 18px;
  }
  .header .navbar .container .navbar-collapse .menue .search {
    margin-left: 8px !important;
    margin-right: -50px;
  }
  .header .navbar .container .navbar-collapse .menue .search .input {
    font-size: 16px;
    padding: 8px 5px;
  }
  .header .navbar .container .navbar-collapse .menue .search .btn_search {
    font-size: 12px;
  }
}
@media screen and (max-width: 1040px) {
  .header .navbar .container {
    max-width: 95vw;
  }
  .header .navbar .container .navbar-brand img {
    width: 100px;
  }
  .header .navbar .container .navbar-collapse .menue a {
    font-size: 16px;
  }
  .header .navbar .container .navbar-collapse .menue .search {
    margin-right: -40px;
  }
  .header .navbar .container .navbar-collapse .menue .search .input {
    font-size: 16px;
    padding: 5px;
  }
  .header .navbar .container .navbar-collapse .menue .search .btn_search {
    font-size: 15px;
  }
  .header .signedin {
    margin: -10px 20px 0 10px;
  }
  .header .signedin .user a {
    font-size: 16px;
  }
  .header .signedin .user span {
    line-height: 5px;
    font-size: 15px;
  }
  .header .auth {
    margin-right: -10px;
  }
  .header .auth .logo_sign, .header .auth .logo_sign {
    padding: 1px;
    font-size: 18px;
  }
  .header .auth .signin, .header .auth .signup {
    margin: 0;
  }
  .header .auth .signin a, .header .auth .signup a {
    padding: 4px;
    font-size: 15px !important;
  }
}
@media screen and (max-width: 840px) {
  .header .navbar .container {
    max-width: 95vw;
  }
  .header .navbar .container .navbar-brand img {
    width: 100px;
  }
  .header .navbar .container .navbar-collapse .menue a {
    font-size: 14px;
  }
  .header .navbar .container .navbar-collapse .menue .search {
    margin-right: -20px;
  }
  .header .navbar .container .navbar-collapse .menue .search .input {
    font-size: 13px;
  }
  .header .navbar .container .navbar-collapse .menue .search .btn_search {
    font-size: 12px;
  }
  .header .auth .logo_sign, .header .auth .logo_sign {
    padding: 1px;
    font-size: 18px;
  }
  .header .auth .signin, .header .auth .signup {
    margin: 0;
  }
  .header .auth .signin a, .header .auth .signup a {
    padding: 2px;
    font-size: 14px !important;
  }
}
@media screen and (max-width: 768px) {
  .header .navbar .container {
    max-width: 80vw;
  }
  .header .navbar .container .navbar-brand img {
    width: 200px;
  }
  .header .navbar .container .navbar-toggler {
    font-size: 20px;
    padding: 7px !important;
  }
  .header .show {
    margin: 20px 0;
  }
  .header .show .menue {
    padding-top: 0px;
    gap: 0 !important;
  }
  .header .show .menue a {
    font-size: 20px !important;
    border-bottom: 1px solid #3D0000;
  }
  .header .show .menue .search {
    width: 100%;
    margin-right: -60px;
    margin-top: 20px !important;
  }
  .header .show .menue .search .input {
    font-size: 18px !important;
    padding: 8px 5px !important;
  }
  .header .show .menue .search .btn_search {
    font-size: 12px;
  }
  .signedin .user {
    text-align: center;
  }
  .signedin .btn-logout {
    margin: 20px 20px;
    display: block;
  }
  .auth {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  .auth .logo_sign {
    margin: 5px;
    font-size: 25px !important;
  }
  .auth .signin, .auth .signup {
    margin: 0 10px;
  }
  .auth .signin a, .auth .signup a {
    font-size: 20px !important;
  }
}
@media screen and (max-width: 568px) {
  .header .navbar .container .navbar-brand img {
    width: 150px;
  }
  .header .navbar .container .navbar-toggler {
    font-size: 16px;
    padding: 5px !important;
  }
  .header .show .menue a {
    font-size: 16px !important;
  }
  .header .show .menue .search .input {
    font-size: 16px !important;
    padding: 8px 5px !important;
  }
  .auth {
    display: flex;
    align-items: center;
    margin: 20px 0 !important;
  }
  .auth .logo_sign {
    margin: 5px;
    font-size: 22px !important;
  }
  .auth .signin, .auth .signup {
    margin: 0 6px !important;
  }
  .auth .signin a, .auth .signup a {
    font-size: 16px !important;
    padding: 0 !important;
  }
}/*# sourceMappingURL=Header.css.map */