.header {
    position: absolute;
    background-color :#000;
    transition: box-shadow ease 0.3s; background:ease 0.5s;
    z-index: 999; 
    .navbar{
        .container{
            max-width: 90vw;
            .navbar-brand img{
                width: 150px;
                height: 60px;
            }    
            .navbar-toggler{
                border: white !important;
                background-color: yellowgreen !important;
                padding: 8px !important;
            }
            .navbar-collapse{
                .menue{
                    a{
                        text-decoration: none;
                        color: aliceblue;
                        line-height: 1.8;
                        font-size: 20px;
                        margin: 5px;
                        padding: 0;
                        transition: all 0.5;
                        &:hover{
                            color: rgb(172, 205, 124);
                        }
                    }
                    .search{
                        margin-left: 60px;
                        border-radius: 10px;
                        overflow: hidden;
                        .input{
                            border-radius: 10px 0 0 10px ;
                            padding: 0 10px;

                        }
                        .btn_search{
                            font-size: 15px;
                            padding: 3px 6px;
                            border-radius: 0 10px 10px 0;
                        }

                    }   
                }
            }
        }
     }
    // header đã đăng nhập
    .signedin {
        margin: -10px 10px 0 0;
        a{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-decoration: none;
            font-weight:800;
         }
    }
    // header chưa đăng nhập
    .auth{
        .logo_sign{
            padding: 3px;
            border: 1px solid chocolate;
            font-size: 30px;
            border-radius: 50%;
        }
        a{
            color: wheat;
            text-decoration: none;
            font-size: 15px;
            margin-left: 3px;
            opacity: 0.8;
            transition: all 0.5;
            &:hover{
                opacity: 1;
                color: greenyellow;
            }
        }                 
    }
}
.on-scroll-header{
    padding: 0px !important;
    transition: box-shadow ease 0.3s; background:ease 0.5s;
    background-color: rgba(0, 0, 0.4, 0.8) !important; 
}


  // responese
  @media screen and (max-width:1271px) {
    .header{     
     .navbar{
         .container{
             .navbar-brand img{
                 width: 130px;
             }   
             .navbar-collapse{                
                 .menue{
                     a{
                         line-height: 2.1;
                         font-size: 18px;
                     }
                     .search{
                        //  margin-left: 10px !important;
                         margin-right:  -70px;
                         .input{
                             font-size: 20px;
                             padding: 12px 5px;
                         }
                         .btn_search{
                             font-size: 14px;
                         }
 
                     }   
                 }
             }
         }
      }
    }
}

@media screen and (max-width:1200px) {
    .header{     
     .navbar{
         .container{
             .navbar-brand img{
                 width: 130px;
             }   
             .navbar-collapse{                
                 .menue{
                     a{
                         line-height: 2.2;
                         font-size: 18px;
                     }
                     .search{
                         margin-left: 8px !important;
                         margin-right:  -50px;
                         .input{
                             font-size: 16px;
                             padding: 8px 5px;
                         }
                         .btn_search{
                             font-size: 12px;
                         }
 
                     }   
                 }
             }
         }
      }
    }
}

  @media screen and (max-width:1040px) {
   .header{     
    .navbar{
        .container{
            max-width: 95vw;
            .navbar-brand img{
                width: 100px;
            }   
            .navbar-collapse{                
                .menue{
                    a{
                        font-size: 16px;
                    }
                    .search{
                        margin-right:  -40px;
                        .input{
                            font-size: 16px;
                            padding: 5px ;
                        }
                        .btn_search{
                            font-size: 15px;
                        }

                    }   
                }
            }
        }
     }
        .signedin {  
            margin: -10px 20px 0 10px;
            .user{
                a{
                    font-size: 16px;
                }
                span{
                    line-height: 5px;
                    font-size: 15px;
                }
            }
        } 
        .auth{
            margin-right: -10px;
            .logo_sign,.logo_sign{
                padding: 1px;
                font-size: 18px;
                }
                .signin,.signup{
                    margin: 0;
                    a{
                        padding: 4px;
                        font-size: 15px !important;
                    } 
                }          
        }
       
   }
  }

  @media screen and (max-width:840px) {
    .header{     
        .navbar{
            .container{
                max-width: 95vw;
                .navbar-brand img{
                    width: 100px;
                }   
                .navbar-collapse{                
                    .menue{
                        a{
                            font-size: 14px;
                        }
                        .search{
                            margin-right:  -20px;
                            .input{
                                font-size: 13px;
                            }
                            .btn_search{
                                font-size: 12px;
                            }
    
                        }   
                    }
                }
            }
         }
            .auth{
                .logo_sign,.logo_sign{
                    padding: 1px;
                    font-size: 18px;
                    }
                 .signin,.signup{
                    margin: 0;
                    a{
                        padding: 2px;
                        font-size: 14px !important;
                    } 
                }         
            }         
    } 
  }

  @media screen and (max-width:768px) {
    .header{
        .navbar{
            .container{
                max-width: 80vw;
                .navbar-brand img{
                    width: 200px;
                }   
                .navbar-toggler{
                    font-size: 20px;
                    padding: 7px !important;
                }
            }
        }
        .show {
            margin: 20px 0;
            .menue{
                padding-top: 0px;
                gap: 0 !important; 
                a{
                    font-size: 20px !important;
                    border-bottom: 1px solid #3D0000;
                }
                .search{
                    width: 100%;
                    margin-right:  -60px;
                    margin-top: 20px !important;
                    .input{
                        font-size: 18px !important;
                        padding: 8px 5px !important;
                    }
                    .btn_search{
                        font-size: 12px;
                    }

                }          
            }
        }         
        }
        .signedin{
            .user{
                text-align: center;
            }
            .btn-logout{
                margin: 20px 20px;
                display: block;
            }           
        } 
        .auth{
            display: flex;
            align-items: center;
            margin: 20px 0;
            .logo_sign{
            margin: 5px;
            font-size: 25px !important;
            }
           .signin,.signup{
               margin: 0 10px;
               a{
                font-size: 20px !important;
            } 
           }                    
        }     
    }  
  

    @media screen and (max-width:568px) {
        .header{
            .navbar{
                .container{
                    .navbar-brand img{
                        width: 150px;
                    }   
                    .navbar-toggler{
                        font-size: 16px;
                        padding: 5px !important;
                    }
                }
            }
            .show {
                .menue{ 
                    a{
                        font-size: 16px !important;
                    }
                    .search{
                        .input{
                            font-size: 16px !important;
                            padding: 8px 5px !important;
                        }
                       }          
                }
            }         
            }
            .auth{
                display: flex;
                align-items: center;
                margin: 20px 0 !important;
                .logo_sign{
                margin: 5px;
                font-size: 22px !important;
                }
               .signin,.signup{
                   margin:  0 6px  !important;
                   a{
                    font-size: 16px !important;
                    padding: 0 !important;
                } 
               }                    
            }     
        } 